/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'BIZ UDPゴシック', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
$font-family-monospace: 'UDEV Gothic', 'Hackgen', 'BIZ UDゴシック', 'Noto Sans Mono', monospace;
$code-block-font-size: 0.7em;

/*-- scss:rules --*/

pre {
  font-size: 95%;
}

// コード出力のスタイル
.r-output .cell-output,
.r-output .cell-output-stdout {
  font-size: 95%;
  margin: 10px 0 5px 0;
  border: 2px solid #CCC;
  padding: 4px;
}
